@media screen and (max-width: 1000px) {
    p{
        font-size: .9rem;
        line-height: 1.8rem;
    }

    .grid-3{
        gap: 1rem;
    }
}

@media screen and (max-width: 825px) {
    /* burger */
    .burger{
        display: block;
        cursor: pointer;
    }

    .toggle-burger .line-1{
        transform: rotate(-45deg) translate(-5px, 7px);
    }
    .toggle-burger .line-2{
        opacity: 0;
    }
    .toggle-burger .line-3{
        transform: rotate(45deg) translate(-5px, -7px);
    }
    
    /* Navigation */
    nav{
        position: fixed;
        width: 50%;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background: #f7f7f7;
        border-left: 1px solid var(--borderColor);
        z-index: 9;
        transform: translateX(100%);
        transition: 0.2s ease-in-out;
    }

    nav ul{
        height: 100vh;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .nav-active{
        transform: translateX(0);
    }

    :root {
        --sectionPadding: 4rem 0;
    }

    .section-title{
        font-size: 1.6rem;
        margin: .6rem 0 2.5rem;
    }

    .pre-title{
        font-size: 0.8rem;
    }

    /* hero section */
    #hero{
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .hero-left img{
        width: 50%;
        margin-bottom: 2rem;
    }

    .hero-right{
        text-align: center;
        padding-bottom: 5rem;
    }

    .hero-right .pre-title{
        margin: 0 auto;
    }

    .hero-name{
        font-size: 2.3rem;
        margin-bottom: 0.5rem;
    }

    footer{
        padding: 2rem 0;
    }
}

@media screen and (max-width: 640px) {
    .section-title{
        font-size: 1.3rem;
    }

    #hero{
        grid-template-columns: 1fr;
        height: fit-content;
    }

    .hero-left img{
        width: 40%;
        height: 40%;
        margin-bottom: 2rem;
    }

    .pre-title{
        font-size: 0.7rem;
    }
}